*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#09090B;
color:white;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 10%;

background:#111111;

}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

}

.hero{

height:80vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

}

.hero h1{

font-size:60px;

margin-bottom:20px;

}

.hero p{

font-size:20px;

opacity:.8;

max-width:700px;

}

button{

margin-top:40px;

padding:18px 35px;

font-size:18px;

border:none;

border-radius:12px;

background:#7C3AED;

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}
